.quadro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffbb33;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quadro p {
    margin-right: 20px;
    flex: 1;
}

.quadro img {
    max-width: 100%;
    height: auto;
}